In [1]:
from pprint import pprint

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import acquire
import prepare
import env

from math import log

In [2]:
url = env.get_db_url('spam_db')
sql = 'SELECT * FROM spam'
df = pd.read_sql(sql, url, index_col='id')
df.head()

   label                                               text
id
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df = df.rename(columns={'text': 'content'})
df = prepare.nlp_prep(df)

In [4]:
df.head(3)

,label,original,clean,stemmed,lemmatized
id,,,,,
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...,go jurong point crazi avail bugi n great world...,go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni,ok lar joke wif u oni,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...,free entri 2 wkli comp win fa cup final tkt 21...,free entry 2 wkly comp win fa cup final tkts 2...

In [5]:
len(df.lemmatized)

5572

In [6]:
def idf(word, corpus):
    n_docs = len(corpus)
    n_docs_with_word = sum([1 for doc in corpus if word in doc])
    idf = log(n_docs / n_docs_with_word)
    return idf

In [7]:
idf('go', df.lemmatized)

1.6133940405933165

In [8]:
# unique_words = pd.Series(' '.join(df.lemmatized).split()).unique()
# words_df = pd.DataFrame(dict(word=unique_words))
# words_df['idf'] = words_df.word.apply(lambda word: idf(word, df.lemmatized))
# words_df.head()

In [9]:
# words_df = pd.DataFrame()

# counter = 1
# for doc in df.lemmatized:
#     for word in doc.split():
#         dct = {}
#         dct['word'] = word
#         dct['doc'] = doc
#         dct['tf'] = doc.split().count(word)
#         dct['idf'] = idf(word, df.lemmatized)
#         dct['tf_idf'] = dct['tf'] * dct['idf']
    
#         words_df = words_df.append(dct, ignore_index=True)
        
#     print(f'{counter}/{len(df.lemmatized)}, {round(counter/len(df.lemmatized)*100)}% complete\t\t', 
#           end='\r')
#     counter += 1

In [10]:
words_df

NameError: name 'words_df' is not defined

In [ ]:
docs_df = pd.DataFrame()
counter = 1
for doc in df.lemmatized:
    dct = {}
    dct['doc'] = doc
    for word in doc.split():
        tf = doc.count(word)
        idf = idf(word, df.lemmatized)
        dct[f'{word}_tfidf'] = tf * idf
        docs_df.append(dct, ignore_index=True)
    print(f'{counter/len(df.lemmatized)*100}% complete')
    counter += 1

In [ ]:
idf(word, df.lemmatized)

In [ ]:
print(word)

In [ ]:
doc.split()

In [ ]:
df.lemmatized