In [1]:
import pandas as pd
import numpy as np
import re

#### 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [2]:
def is_vowel(string):
    return (re.search(r'^[aeiouAEIOU]$', string) != None)

In [3]:
is_vowel('a')

True

In [4]:
is_vowel('b')

False

In [5]:
is_vowel('ba')

False

In [6]:
is_vowel('ab')

False

#### 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [7]:
def is_valid_username(username):
    regex = r'^[a-z][a-z1-9_]{0,31}$'
    return re.search(regex, username) != None

In [8]:
is_valid_username('apple123')

True

In [9]:
is_valid_username('Apple123')

False

In [10]:
is_valid_username('Apple123456789012345678901234567890')

False

In [11]:
is_valid_username('123apple')

False

In [12]:
is_valid_username('a_1')

True

#### 3. Write a regular expression to capture phone numbers. It should match all of the following:

In [13]:
regexp = r'\(\d{3}\)\s\d{3}\s\d{4}'
subj = '''(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309
'''
re.findall(regexp, subj)

['(210) 867 5309']

In [14]:
regexp = r'\D?1?\D?\d{3}\D{1,2}\d{3}\D\d{4}'
subj = '''(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309
'''
re.findall(regexp, subj)

['(210) 867 5309', '+1 210.867.5309', '\n210-867-5309']

In [15]:
regexp = r'\D?1?\D?(\d{3})?\D{1,2}(\d{3})\D(\d{4})'
subj = '''(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309
'''
re.findall(regexp, subj)

[('210', '867', '5309'),
 ('210', '867', '5309'),
 ('', '867', '5309'),
 ('210', '867', '5309')]

#### 4. Use regular expressions to convert the dates below to the standardized year-month-day format.

In [16]:
dates = pd.DataFrame(['02/04/19', 
                    '02/05/19',
                    '02/06/19',
                    '02/07/19',
                    '02/08/19',
                    '02/09/19',
                    '02/10/19'], 
                     columns=['mm/dd/yy'])
dates

   mm/dd/yy
0  02/04/19
1  02/05/19
2  02/06/19
3  02/07/19
4  02/08/19
5  02/09/19
6  02/10/19

In [17]:
dates[['month', 'day', 'year']] = dates['mm/dd/yy'].str.extract(r'(\d{2})/(\d{2})/(\d{2})')

In [19]:
dates['yyyy-mm-dd'] = '20' + dates.year + '-' + dates.month + '-' + dates.day

In [20]:
dates

   mm/dd/yy month day year  yyyy-mm-dd
0  02/04/19    02  04   19  2019-02-04
1  02/05/19    02  05   19  2019-02-05
2  02/06/19    02  06   19  2019-02-06
3  02/07/19    02  07   19  2019-02-07
4  02/08/19    02  08   19  2019-02-08
5  02/09/19    02  09   19  2019-02-09
6  02/10/19    02  10   19  2019-02-10

#### 5. Write a regex to extract the various parts of these logfile lines:

In [21]:
df = pd.DataFrame(
['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
 'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
 'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'], 
 columns=['request'])

df

                                             request
0  GET /api/v1/sales?page=86 [16/Apr/2019:193452+...
1  POST /users_accounts/file-upload [16/Apr/2019:...
2  GET /api/v1/items?page=3 [16/Apr/2019:193453+0...

In [22]:
regexp = r'^(?P<method>[A-Z]+)\s'
df.request.str.extract(regexp)

  method
0    GET
1   POST
2    GET

In [23]:
regexp = r'^(?P<method>[A-Z]+)\s(?P<path>/.*?)\s\[(?P<timestamp>.*?)\]\s(?P<protocol>HTTP.*?)\s\{(?P<response>\d{3})}\s(?P<size>\d+?)\s\"(?P<user_agent>.+?)"\s(?P<ip>[\d\.]+)$'
df.request.str.extract(regexp)

,method,path,timestamp,protocol,response,size,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58